
* {
  box-sizing: border-box;
}



h1 {
  font-family: "Georgia", Serif;
    text-align: center;
  }


p {
   position: relative;
  border: 2px solid black;
  border-top: 0px;
  border-right: 0px;
  font-family: Helvetica;
  float: right;
  margin-top: 0px;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
  width: 120px;
  height: 35px;

  }

#p1 {    
  
  background-color: #F5B7B1;
    

    }

  #p2 {
        background-color:  #AC2508;
                color: white;
                
}
    #p3 {
        background-color:  #f7dc6f;
        
}
   

#sec1, #sec2, #sec3 {
  clear: both;
    margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  font-size: 100%;
   font-weight: bold;
   font-size: 100%;
}
   


@media (min-width: 992px) {
  .col-lg-1 {
    position: relative;
    background-color: #808B96;
    float: left;
    border: 2px solid black;
    width: 30.7%;
    height: 210px;
    margin-right: 1.2%;
    margin-left: 1.2%;
    clear: right;
    font-size: 100%;

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    background-color: #808B96;
     float: left;
    border: 2px solid black;
    width: 46.8%;
    height: 100%;
    margin-right: 1.2%;
    margin-left: 1.2%;
    clear: right;   
  }

  .col-md-2 {
    background-color: #808B96;
     float: left;
    border: 2px solid black;
    width: 95.9%;
    height: 100%;
    margin-right: 1.2%;
    margin-left: 1.2%;
    margin-top: 20px;
    clear: right;
   
     }
}

@media (max-width: 767px) {
  .col-sm-1 {
    background-color: #808B96;
     
    border: 2px solid black;
    width: 97%;
    height: 230px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 20px;
    clear: right;
   font-size: 120%; 
  }
}